flows.json
[{"id":"b24a78d8.356ec8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea22052d.9204b8","type":"ibmiot in","z":"b24a78d8.356ec8","authentication":"apiKey","apiKey":"e13f5258.65f2e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9381","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":40,"wires":[["3d17bd18.f38502"]]},{"id":"3d17bd18.f38502","type":"debug","z":"b24a78d8.356ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"289b663e.db93ba","type":"ui_button","z":"b24a78d8.356ec8","name":"Light On","group":"7e4e52c2.2d50dc","order":0,"width":0,"height":0,"passthru":false,"label":"lightOn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":100,"wires":[["a010e7a8.5eae98","79bcc284.8ab52c"]]},{"id":"78c145b8.ac3d6c","type":"ui_button","z":"b24a78d8.356ec8","name":"Light Off","group":"9d9b37d.423cec8","order":0,"width":0,"height":0,"passthru":false,"label":"LightOff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":80,"y":160,"wires":[["a010e7a8.5eae98","79bcc284.8ab52c"]]},{"id":"268ecb00.f272e4","type":"ui_button","z":"b24a78d8.356ec8","name":"Door Open","group":"d2b4c2c1.9ffe8","order":0,"width":0,"height":0,"passthru":false,"label":"Door Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"dooropen\"}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":200,"wires":[["a010e7a8.5eae98","79bcc284.8ab52c"]]},{"id":"b94624f7.8a6718","type":"ui_button","z":"b24a78d8.356ec8","name":"Door Close","group":"737d36f.95c5dc8","order":0,"width":0,"height":0,"passthru":false,"label":"doorclose","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"doorclose\"}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":240,"wires":[["a010e7a8.5eae98","79bcc284.8ab52c"]]},{"id":"a010e7a8.5eae98","type":"debug","z":"b24a78d8.356ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"79bcc284.8ab52c","type":"ibmiot out","z":"b24a78d8.356ec8","authentication":"apiKey","apiKey":"e13f5258.65f2e","outputType":"cmd","deviceId":"9381","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":380,"y":120,"wires":[]},{"id":"a08228e.0f717d8","type":"http in","z":"b24a78d8.356ec8","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["b232e0f9.0ce0a"]]},{"id":"c4652cb7.f5da5","type":"http response","z":"b24a78d8.356ec8","name":"","statusCode":"","headers":{},"x":590,"y":320,"wires":[]},{"id":"b232e0f9.0ce0a","type":"function","z":"b24a78d8.356ec8","name":"http response","func":"msg.payload=\"hello\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["c4652cb7.f5da5"]]},{"id":"2fa5e999.a925f6","type":"http in","z":"b24a78d8.356ec8","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":400,"wires":[["8808a9de.cd0c78"]]},{"id":"5b560748.e48258","type":"http response","z":"b24a78d8.356ec8","name":"","statusCode":"","headers":{},"x":590,"y":380,"wires":[]},{"id":"8808a9de.cd0c78","type":"function","z":"b24a78d8.356ec8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":400,"wires":[["5b560748.e48258","f5a5f807.3439b8"]]},{"id":"f5a5f807.3439b8","type":"debug","z":"b24a78d8.356ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"e13f5258.65f2e","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"q41r9v.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7e4e52c2.2d50dc","type":"ui_group","name":"Default","tab":"fe2b9fb7.62351","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d9b37d.423cec8","type":"ui_group","name":"Default","tab":"fe2b9fb7.62351","order":2,"disp":true,"width":"6","collapse":false},{"id":"d2b4c2c1.9ffe8","type":"ui_group","name":"Default","tab":"fe2b9fb7.62351","order":3,"disp":true,"width":"6","collapse":false},{"id":"737d36f.95c5dc8","type":"ui_group","name":"Default","tab":"fe2b9fb7.62351","order":4,"disp":true,"width":"6","collapse":false},{"id":"fe2b9fb7.62351","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]